<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Returns</th>
      <th>Message</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="action-edit"><%= link_to 'Edit', edit_users_path(user) %></td>
        <td class="name"><%= user.name %></td>
        <td class="return-time"><%= user.returns %></td>
        <td class="return-message"><%= user.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
