table {
  width: 100%;
  font-size: 1.2em;
  color: #666;
  border: 3px solid #e8e8e8;
  tr:nth-child(even) {
    background: #eee; 
  }
  th {
    text-align: left; 
    border-bottom: 1px solid gray;
    padding: 10px;
    color: #000;
  }
  td {
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid gray;
  }
  .name { 
    width: 150px;
  }
  .return-time {
    width: 50px; 
  }
  .return-message {
  }
  .action-edit {
    padding: 5px; 
    width: 10px; 
    font-size: .8em;
  }
  input[type=radio] {
    margin-right: 5px;
  }
  input.away-message {
    width: 100%;
  }
  .away-radio-buttons {
    text-align: center;
  }
}
