table {
  width: 100%;
  font-size: 1.2em;
  color: #666;
  border: 3px solid #e8e8e8;
  th {
    text-align: left; 
    border-bottom: 1px solid gray;
    padding: 10px;
    color: #000;
  }
  td {
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid gray;
  }
  .name { 
    width: 150px;
  }
  .return-time {
    width: 50px; 
  }
  .return-message {
  }
  .action-edit {
    padding: 5px; 
    width: 10px; 
    font-size: .8em;
  }
  .action-back, .action-save {
    margin: 10px; 
    padding: 10px;
  }
  input[type=radio] {
    margin-right: 5px;
  }
  input.away-message {
    width: 100%;
  }
  .away-radio-buttons {
    text-align: center;
  }
  .form-data {
    display: none;
  }
  .available {
    background-image:url('green-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .unavailable {
    background-image:url('red-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .status {
    width: 10px;
  }
}
